body {
    background-color: #ffffff;
    color: #1e2744;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; 
}

.container {
    align-items: center;
}
nav {
    height: 150px;
    background-color: #ffffff ;
    display: flex;
    justify-content: space-around !important;
    color: #1e2744;
    align-items: bottom;
    border-bottom: 2px solid #e2866d;
    font-family: Helvetica;
}

.nav-link {
    color: #1e2744;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 36px; 
    font-style: bold; 
    font-variant: normal; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; 
    font-weight: 100; 
    display: flex;
}

#api-form {
    margin-top: 30px; 
    color: #1e2744;
}

#submit-button{
    margin-top: 10px; 
    margin-bottom: 20px;
}

#map { 
    position:relative;
    height:500px;
    width: 100%;
    justify-content: center;
    margin-bottom: 150px;

}

.form-control {
    height: 35px;
    color: #1e2744;
}

footer {
    margin: 0px auto;
    padding: 20px 0px; 
    color: #1e2744;
    display: flex;
    justify-content: space-around;
    font-family: Helvetica; 

}

a {
    color: #1e2744;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; 
    display: inline;
    font-size: 14pt;
}

a:hover {
    color: #1e2744;
    text-decoration: none;
}

.logo {
    height: 80px;
    margin-right: 30px;
    margin-top: 30px;
}

.leaflet-popup-tip {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    display: flex;
}

.leaflet-popup-content {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; 
}

#pop-up-value {
    font-size: 36px;
    text-align: left;
    bottom: 0px;
}
#pop-up-unit {
    font-size: 22px;
    text-align: bottom;
}

#pop-up-value-column{
    width: 50%;
}

#pop-up-container {
    margin-left: 5px;
    margin-right: 5px;
    align-items: flex-end;

}

#pop-up-table-row {
    margin-right: 3px;
}
