/* General CSS */
body {
  background-color: #ffffff;
  color: #1e2744;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, sans-serif;
}

.container {
  align-items: center;
}

a {
  color: #1e2744;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, sans-serif;
  display: inline;
  font-size: 12pt;
}

/* Navbar CSS */

nav {
  background-color: #ffffff;
  justify-content: space-between !important;
  color: #1e2744;
  border-bottom: 1px solid #e2866d;
  font-family: Helvetica;
  padding-bottom: 1em;
  text-align: right;
}

.nav-link {
  color: #1e2744;
  float: right;
}

li {
  list-style-type: none;
}

.logo {
  height: 50px;
}

h1 {
  font-size: 36px;
  font-style: bold;
  font-variant: normal;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, sans-serif;
  font-weight: 100;
}

.fa-bars {
  color: #1e2744;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

/* Jumbotron CSS */
#jumbotron {
  text-align: center;
  margin-top: 50px;
}

.jtron-header {
  text-align: center;
}

/* Button to toggle map/table view CSS */
#btn-toggle {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-btn {
  border: 1px solid black;
  background: white;
}

#table-btn {
  border: 1px solid black;
  background: white;
}

/* Form CSS */
#api-form {
  margin-top: 30px;
  color: #1e2744;
}

@media (max-width: 991px) {
  #api-form {
    margin-left: 1.5rem;
    margin-right: 2rem;
  }
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  color: #1e2744;
  font-size: 14pt;
}

#form-label {
  font-size: 20px;
}

.tooltip-inner {
  color: black; /* font color */
  text-align: center;
  background-color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, sans-serif;
  font-size: 15px;
}

#submit-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

#map {
  position: relative;
  height: 750px;
  width: 100%;
  justify-content: center;
  margin-bottom: 150px;
  cursor: pointer;
}

#arrow-table {
  background-color: white;
  display: flex;
  width: 2%;
  white-space: nowrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: table;
  border-color: rgb(221, 221, 221);
  padding: 15px;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  border-radius: 12px;
  border: 1px solid #dddddd;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-collapse: separate;
  position: absolute;
}

#pop-up-container {
  visibility: hidden;
}

/* Footer CSS */
footer {
  margin-top: 15px;
  padding: 15px;
  color: #1e2744;
  background-color: blanchedalmond;
}

#footer-links {
  margin-top: 0px !important;
}

/*   IO.HTML CSS */
.about-title {
  font-family: "HelveticaNeue-Light";
  font-size: 22px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 15px;
}

.about-paragraph {
  margin-left: 150px;
  margin-right: 150px;
  font-size: 16px;
  text-align: justify;
}

@media (max-width: 768px) {
  .about-paragraph {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-size: 0.8rem;
  }
}

#about-link {
  font-size: 16px;
  color: #717ca1;
}

@media (max-width: 768px) {
  #about-link {
    font-size: 0.8rem;
  }
}

#about-link:hover {
  color: #151b30;
  text-decoration: none;
}

.fa-linkedin {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
}

.fa-github {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
}
